body { 
	background-color: white; 
	font-family: sans-serif;
	margin: 0;
    padding: 0;
}

a {
	text-decoration: none;
	color: #67BAD6;
}

a:hover {
	color: #2010B3;
}

#banner {
	background-color: #67BAD6;
	color: #150980;
	position: fixed;
	width: 100%;
	text-align: center;
	z-index: 1;
}

#banner h1 {
	margin-bottom: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#banner h3 {
	padding: 0;
	margin-top: 0;
	font-family: serif;
}

#titleBar {
	list-style-type: none;
    margin: 0;
    padding: 0;
	/*border-top: 1px solid #9B9FB3;*/
    overflow: hidden;
    background-color: #EAE9F5;
	position: fixed;
    top: 100px;
	left: 0;
    width: 100%;
	z-index: 1;
}

#titleBar li {
    float: left;
	list-style-type: none;
}

#titleBar li a {
    display: block;
    text-align: center;
	color: black;
    padding: 14px 14px;
    text-decoration: none;
}

#titleBar li a.active {
	background-color: #B1D8E6;
	/*border-left: 2px solid #EAE9F5;*/
	color: black;
}

#titleBar li a:hover:not(.active) {
	background-color: #9B9FB3;
	color: white;
}

#central {
	position: absolute;
	left: 50px;
	right: 50px;
	top: 170px;
}
